<h1 class="border-bottom mt-4">Resultado da Busca por: <%= @query %></h1>

<% if @buffets.any? %>
    <p><%= @buffets.count %> <%= Buffet.model_name.human(count: @buffets.count).downcase %> <%= I18n.translate(:found, count: @buffets.count).downcase %> </p>
    <div class="buffet_search row row-cols-4">
        <% @buffets.each do |buffet| %>
            <%= render buffet %>
        <% end %>    
    </div> 
<% else %>
    <p>Não foi possível encontrar um buffet com o Nome/Cidade/Evento informado</p>
<% end %>