<h2><%= @buffet.brand_name %></h2>

<dl>
    <% if admin_signed_in? && current_admin.buffet = @buffet %>
        <dt><%= Buffet.human_attribute_name(:corporate_name) %>: </dt>
        <dd><%= @buffet.corporate_name  %></dd>
    <% end %>
    <dt><%= Buffet.human_attribute_name(:registration_number) %>: </dt>
    <dd><%= @buffet.registration_number %></dd>
    <dt><%= Buffet.human_attribute_name(:location) %>: </dt>
    <dd><%= @buffet.location %></dd>
    <dt><%= Buffet.human_attribute_name(:description) %>: </dt>
    <dd><%= @buffet.description %></dd>
    <dt><%= Buffet.human_attribute_name(:contact) %>: </dt>
    <dd><%= @buffet.contact %></dd>
    <dt><%= Buffet.human_attribute_name(:payment_methods) %>: </dt>
    <dd>
        <% @payment_methods.each do |pm| %>
            <%= pm.name %>
        <% end %>
    </dd>
</dl>

<% if @event_types.any? %>
    <h2>Tipos de Eventos oferecidos</h2>
    <% @event_types.each do |et| %>
        <%= link_to et.name, event_type_path(et) %>
    <% end %>
<% else %>
    <p>Não há nenhum tipo de evento cadastrado</p>
<% end %>

<%= link_to 'Adicionar novo tipo de evento',  new_event_type_path %>
<%= link_to 'Editar', edit_buffet_path(@buffet)%>