<h1 class="my-4 pb-3 text-center border-bottom"><%= @buffet.brand_name %></h1>

<div class="row">
    <div class="col-6 border-end">
        <h2 class="text-center">Descrição do Buffet</h2>
        <dl>
            <% if admin_signed_in? && current_admin.buffet == @buffet %>
                <dt><%= Buffet.human_attribute_name(:corporate_name) %>: </dt>
                <dd><%= @buffet.corporate_name  %></dd>
            <% end %>
            <dt><%= Buffet.human_attribute_name(:registration_number) %>: </dt>
            <dd><%= @buffet.registration_number %></dd>
            <dt><%= Buffet.human_attribute_name(:location) %>: </dt>
            <dd><%= @buffet.location %></dd>
            <dt><%= Buffet.human_attribute_name(:description) %>: </dt>
            <dd style="text-align: justify; padding-right: 1rem"><%= @buffet.description %></dd>
            <dt><%= Buffet.human_attribute_name(:contact) %>: </dt>
            <dd><%= @buffet.contact %></dd>
            <dt><%= Buffet.human_attribute_name(:payment_methods) %>: </dt>
            <dd>
                <ul>
                    <% @payment_methods.each do |pm| %>
                        <li><%= pm.name %></li>
                    <% end %>   
                </ul>
                
            </dd>
        </dl>
        <%= image_tag(@buffet.photo.image, class: 'mw-100 figure') %>
        <p class="figure-caption text-center">Imagem do buffet <%= @buffet.brand_name%></p>
        <% if admin_signed_in? && current_admin == @buffet.admin %>
            <div class="text-center">
                <a href="<%= edit_buffet_path(@buffet) %>" class="btn btn-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                    </svg>
                    Editar
                </a>
                <a href="<%= new_event_type_path %>" class="btn btn-success">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
                    </svg>
                    Adicionar novo tipo de evento
                </a> 
            </div>
        <% end %>
         
    </div>
    
    <div class="col-6">
        <h2 class="text-center">Tipos de Eventos oferecidos</h2>
        <% if @event_types.any? %>
            <div class="row">
            <% @event_types.each do |et| %>
               <div class="card p-0 m-3" id="event-type-<%= et.id %>">
                    <div class="card-header text-center">
                        <h3><%= et.name %></h3>
                        <p><%= et.description %></p>
                    </div>
                    <div class="card-body row">
                        <span class="col-6"><b><%= EventType.human_attribute_name(:min_guests) %>: </b><%= et.min_guests %></span>
                        <span class="col-6"><b><%= EventType.human_attribute_name(:max_guests) %>: </b><%= et.max_guests %></span>
                        <span class="col-6"><b><%= EventType.human_attribute_name(:default_duration) %>: </b><%= et.default_duration %> minutos</span>
                        <span class="col-6"><b><%= EventType.human_attribute_name(:default_address) %>: </b><%= EventType.human_attribute_name(et.default_address) %></span>
                        <div class="col-6">
                            <b><%= EventType.human_attribute_name(:services) %>:</b>
                            <% if !et.offer_decoration && !et.offer_drinks && !et.offer_parking_service %>
                                Não oferece nenhum serviço adicional
                            <% else %>
                                <ul>
                                    <% if et.offer_decoration %>
                                        <li><%= EventType.human_attribute_name(:offer_decoration)%> </li>
                                    <% end %>
                                    <% if et.offer_drinks %>
                                        <li><%= EventType.human_attribute_name(:offer_drinks)%> </li>
                                    <% end %>
                                    <% if et.offer_parking_service %>
                                        <li><%= EventType.human_attribute_name(:offer_parking_service)%> </li>
                                    <% end %>
                                </ul>
                            <% end %>
                        </div>
                        <span class="col-6"><b><%= EventType.human_attribute_name(:menu) %>: </b><%= EventType.human_attribute_name(et.menu) %></span>
                        <h5 class="text-center my-3">Tabela de Preços</h5>
                        <table class="table border">
                            <tr class="table-light">
                                <th></th>
                                <th>Dias de Semana</th>
                                <th>Final de Semana</th>
                            </tr>
                            <tr>
                                <td><%= EventType.human_attribute_name(:min_value) %></td>
                                <td><%= number_to_currency(et.min_value, locale: :'pt-BR')%></td>
                                <td><%= number_to_currency(et.weekend_min_value, locale: :'pt-BR')%></td>
                            </tr>
                            <tr>
                                <td><%= EventType.human_attribute_name(:additional_per_guest) %></td>
                                <td><%= number_to_currency(et.additional_per_guest, locale: :'pt-BR')%></td>
                                <td><%= number_to_currency(et.weekend_additional_per_guest, locale: :'pt-BR')%></td>
                            </tr>
                            <tr>
                                <td><%= EventType.human_attribute_name(:extra_hour_value) %></td>
                                <td><%= number_to_currency(et.extra_hour_value, locale: :'pt-BR')%></td>
                                <td><%= number_to_currency(et.weekend_extra_hour_value, locale: :'pt-BR')%></td>
                            </tr>
                        </table>
                        <% if !admin_signed_in? %>
                        <div class="text-center">
                            <a href="<%= new_event_type_order_path(et) %>" class="btn btn-success">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2-square" viewBox="0 0 16 16">
                                    <path d="M3 14.5A1.5 1.5 0 0 1 1.5 13V3A1.5 1.5 0 0 1 3 1.5h8a.5.5 0 0 1 0 1H3a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V8a.5.5 0 0 1 1 0v5a1.5 1.5 0 0 1-1.5 1.5z"/>
                                    <path d="m8.354 10.354 7-7a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0"/>
                                </svg>
                                Fazer pedido
                            </a>
                        </div>  
                        <% end %>
                        <% if admin_signed_in? && current_admin.buffet == @buffet %>
                        <div class="text-center">
                            <a href="<%= edit_event_type_path(et) %>" class="btn btn-primary">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                                </svg>
                                Editar tipo de evento
                            </a>
                        </div>
                        <% end %>
                    </div>
               </div> 
            <% end %>
            </div>
        <% else %>
            <p class="my-3 alert alert-success text-center">Não há nenhum tipo de evento cadastrado</p>
        <% end %>
    
    </div> 
</div>

