<!DOCTYPE html>
<html>
  <head>
    <title>CadeBuffet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <%= stylesheet_link_tag "application" %>
  </head>

  <body class="py-3 bg-body-secondary">
    <header class="container text-center bg-body">
      <h1 class="py-3 m-0"><%= link_to 'Cadê Buffet?', root_path, class: "link-underline link-underline-opacity-0 link-dark"  %></h1>
      <nav>      
        <% if !admin_signed_in? && !customer_signed_in? %>
            <%= link_to "Entrar como cliente", new_customer_session_path , class: 'b-3 btn btn-primary' %>
            <%= link_to "Entrar como administrador", new_admin_session_path , class: 'b-3 btn btn-primary' %>
        <% end %>

        <% if admin_signed_in? %>
          Admin logado como: <%= current_admin.email %>
          <%= link_to 'Pedidos', orders_buffet_path(current_admin.buffet.id) if current_admin.buffet.present?%>
          <div class="mt-3">
            <%= button_to 'Sair', destroy_admin_session_path, class: "btn btn-danger", method: :delete %>
          </div>
        <% end %>

        <% if customer_signed_in? %>
          <%= current_customer.name %> | <%= current_customer.email %>
          <%= link_to 'Meus Pedidos', customer_path(current_customer) %>
          <div class="mt-3">
            <%= button_to 'Sair', destroy_customer_session_path, class: "btn btn-danger", method: :delete %>
          </div>
        <% end %>

        <% if !admin_signed_in? %>
          <%= form_with(url: search_buffets_path, method: :get) do |f| %>
              <%= f.label :query, 'Buscar Buffet' %>
              <%= f.text_field :query %>
              <%= f.submit 'Buscar' %>
          <% end %>
        <% end %>
      </nav>
    </header>
    <main class="container text-center bg-body px-5">
      <div>
        <% if notice.present? %>
          <span class="alert alert-success"><%= notice %></span>
        <% end %>
        <% if alert.present? %>
          <span class="alert alert-danger"><%= alert %></span>
        <% end %>
      </div>
      <%= yield %>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>
