<!DOCTYPE html>
<html>
  <head>
    <title>CadeBuffet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <header class="bg-primary d-flex justify-content-around align-items-center px-3 mb-3">
      <a href="/">
        <img src="https://lh3.googleusercontent.com/drive-viewer/AKGpihYX2Ho8D9qdON57Rgn1intq29P3FgwXD__rLp-7dc9ZhaSDKK5ASJxQR1k-nQ6t7jeqAKmVWS-8-YE-y323itMv5vtBKZ12EQc=w1920-h912-rw-v1" alt="Cadê Buffet?" style="width: 200px;">
      </a>
      <% if !admin_signed_in? %>
        <div>
        <%= form_with(url: search_buffets_path, method: :get, class: 'm-3 d-flex align-items-center') do |f| %>
            <%= f.label :query, 'Buscar Buffet', class: 'text-white text-nowrap mx-3' %>
            <div class="search-conteiner">
              <%= f.text_field :query, class: 'form-control form-control-lg' %>
            </div>
            <%= f.submit 'Buscar', class: 'b-3 btn btn-warning mx-2' %>
        <% end %>  
        </div>
      <% end %> 

      <% if !admin_signed_in? && !customer_signed_in? %>
        <div class="d-flex align-items-center">
        <%= link_to "Entrar como cliente", new_customer_session_path , class: 'm-3 b-3 btn btn-outline-light' %>
        <%= link_to "Entrar como administrador", new_admin_session_path , class: 'm-3 b-3 btn btn-outline-light' %>  
        </div>
          
      <% end %>

      <% if admin_signed_in? %>
        <span class="h5 text-light mb-0"><b>Admin logado como:</b> <%= current_admin.email %></span>
        <div class="d-flex align-items-center">
          <%= link_to 'Pedidos', orders_buffet_path(current_admin.buffet.id), class: 'm-3 b-3 btn btn-outline-light' if current_admin.buffet.present?%>
          <%= button_to 'Sair', destroy_admin_session_path, class: "m-3 b-3 btn btn-outline-light", method: :delete %>
        </div>
      <% end %>

      <% if customer_signed_in? %>
        <span class="h5 text-light mb-0"><%= current_customer.name %> | <%= current_customer.email %></span>
        <div class="d-flex align-items-center">
          <%= link_to 'Meus Pedidos', customer_path(current_customer), class: 'm-3 b-3 btn btn-outline-light' %>
          <%= button_to 'Sair', destroy_customer_session_path, class: "m-3 b-3 btn btn-outline-light", method: :delete %>
        </div>
      <% end %>
    </header>
    <main class="container mb-4">
      <% if notice.present? %>
        <div class="alert alert-success" style="width: fit-content; margin:0 auto"><%= notice %></div>
      <% end %>
      <% if alert.present? %>
        <div class="alert alert-danger" style="width: fit-content; margin:0 auto"><%= alert %></div>
      <% end %>
      <%= yield %>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>
